<div class="articulos-container">
    <div *ngFor="let articulo of articulos" class="articulo-card">
      <img [src]="articulo.imagen_url" alt="Imagen" />
      <h3> Samsung.Monitor </h3>
      <p>
        Marca	SAMSUNG
        Tamaño de pantalla	27 Pulgadas
        Resolución	FHD 1080p
        Relación de aspecto	16:09
        Descripción de la superficie de pantalla	Plana </p>
      <p>Cantidad: 5 </p>
      <p>Precio: $ 83.99 </p>
      <button (click)="eliminarArticulo(articulo._id)">Eliminar</button>
    </div>
  </div>

  <div class="articulos-container">
    <div *ngFor="let articulo of articulos" class="articulo-card">
      <img [src]="articulo.imagen_url" alt="Monitor Samsung " />
      <h3> Samsung.Monitor </h3>
      <p>
        Marca	SAMSUNG
        Tamaño de pantalla	30 Pulgadas
        Resolución	FHD 1080p
        Relación de aspecto	16
        Descripción de la superficie de pantalla	Plana </p>
      <p>Cantidad: 5 </p>
      <p>Precio: $ 100.99 </p>
      <button (click)="eliminarArticulo(articulo._id)">Eliminar</button>
    </div>
  </div>

  <div class="articulos-container">
    <div *ngFor="let articulo of articulos" class="articulo-card">
      <img [src]="articulo.imagen_url" alt="Imagen" />
      <h3> Lápiz óptico </h3>
      <p>
        Color	Blanco
        Marca	JAMJAKE
         Material	Aluminio
         Cantidad de baterías	1 Metal de litio necesaria(s), incluida(s)
         Peso del artículo	59 Gramos
        Duración media de batería en espera	10 Horas </p>
      <p>Cantidad: 5 </p>
      <p>Precio: $ 19.99 </p>
      <button (click)="eliminarArticulo(articulo._id)">Eliminar</button>
    </div>
  </div>

  <div class="articulos-container">
    <div *ngFor="let articulo of articulos" class="articulo-card">
      <img [src]="articulo.imagen_url" alt="Imagen" />
      <h3> Disco Duro </h3>
      <p>
        Capacidad de almacenamiento digital	4 TB
Interfaz de disco duro	Desconocido
Tecnología de conectividad	NVMe
Marca	SAMSUNG
Características especiales	Tecnología Flash V-NAND, Cifrado AES de 256 bits, Escrituras secuenciales de hasta 6900 MB/s, Lecturas secuenciales de hasta 7450 MB/sTecnología Flash V-NAND, Cifrado AES de 256 bits, Escrituras secuenciales de hasta 6900 MB/s, Lecturas secuenciales de hasta 7450 MB/s
Factor de forma de disco duro	2,5 Pulgadas
Descripción del disco duro	Disco SSD
Dispositivos compatibles	PC, Portátil, Mac
Tipo de instalación	Disco duro interno
Color	Información no disponible
 </p>
      <p>Cantidad: 5 </p>
      <p>Precio: $ 219.99 </p>
      <button (click)="eliminarArticulo(articulo._id)">Eliminar</button>
    </div>
  </div>

  <div class="articulos-container">
    <div *ngFor="let articulo of articulos" class="articulo-card">
      <img [src]="articulo.imagen_url" alt="Imagen" />
      <h3> Disco Duro </h3>
      <p>

Capacidad de almacenamiento digital	4 TB
Interfaz de disco duro	PCI Express x4
Tecnología de conectividad	Medium
Marca	fanxiang
Características especiales	Cifrado de Hardware, Compatible con Versiones Anteriores
Descripción del disco duro	Disco SSD
Dispositivos compatibles	Laptop, Portátil, Escritorio, Playstation 5, Ordenador de escritorio
Tipo de instalación	Disco duro interno
Usos específicos del producto	Profesional, Personal, Videojuegos
Componentes incluidos	fanxiang SSD PCIe 4.0 M.2 2280

 </p>
      <p>Cantidad: 5 </p>
      <p>Precio: $ 239.99 </p>
      <button (click)="eliminarArticulo(articulo._id)">Eliminar</button>
    </div>
  </div>

  <div class="articulos-container">
    <div *ngFor="let articulo of articulos" class="articulo-card">
      <img [src]="articulo.imagen_url" alt="Imagen" />
      <h3> Auriculares con microfono </h3>
      <p>
        Marca	Logitech
        Color	Rosa
        Colocación en oído	Supraaurales
        Factor de forma	Sobre la Oreja
        Impedancia	20 Ohmio

 </p>
      <p>Cantidad: 5 </p>
      <p>Precio: $ 39.99 </p>
      <button (click)="eliminarArticulo(articulo._id)">Eliminar</button>
    </div>
  </div>


  <div class="articulos-container">
    <div *ngFor="let articulo of articulos" class="articulo-card">
      <img [src]="articulo.imagen_url" alt="Imagen" />
      <h3> Adaptador  </h3>
      <p>

Marca	SZHAIYIJIN
Tipo de medios	Tarjeta SD, microSD, USB 3.0 (formatos de medios compatibles)
Tecnología de conectividad	USB tipo A, Adaptador Lightning, USB Type A
Características especiales	Conectar y usar
Color	Blanco (SD+TF+USB para Lightning)

 </p>
      <p>Cantidad: 5 </p>
      <p>Precio: $ 9.99 </p>
      <button (click)="eliminarArticulo(articulo._id)">Eliminar</button>
    </div>
  </div>

  <div class="articulos-container">
    <div *ngFor="let articulo of articulos" class="articulo-card">
      <img [src]="articulo.imagen_url" alt="Imagen" />
      <h3> Cámara web N60 1080P </h3>
      <p>


        Marca	NexiGo
        Tecnología de sensores fotográficos	CMOS
        Resolución de la captura de video	Cámara web de negocios 1080P con micrófono dual y cubierta de privacidad
        Máximo de distancia focal	1
        apertura máxima	2 f-stop
        Formato de captura de video	ASF
        Formato de audio compatible	MP3, WAV, AAC
        Tamaño de pantalla	19,6 Pulgadas
        Tecnología de conectividad	USB
        Color	Negro -

 </p>
      <p>Cantidad: 5 </p>
      <p>Precio: $ 39.99 </p>
      <button (click)="eliminarArticulo(articulo._id)">Eliminar</button>
    </div>
  </div>